body {
    margin: 0;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #585858;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;
}

body.no-scroll,
body.show-nav {
    overflow: hidden;
}

body.mouse .nav__list>li:hover .subnav {
	display: block;
}

body.touch .subnav.open{
	display: block;
}

body.touch .arrow {
	display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-family: 'Lato', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 10px;
}

.table1 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* PAGE */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    width: 100%;

    background: rgba(0, 0, 0, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    transition: background-color .2s linear;
}

body.show-nav .header,
.header--dark {
    background: rgba(95, 125, 190, .9);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .2);
}

.header__inner {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 220px;
}

.header__logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__logo--black {
    color: #2C2C2C;
}

/* NAV */

.nav {
    display: flex;
    height: 100%;

    font-size: 16px;
}

.nav__list {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__item {
    display: flex;
    height: 100%;

    position: relative;
}

.nav__item:hover .nav__link {
    background-color: #004AF2;
}

/* .nav__item:hover > .subnav {
    display: block;
} */

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: #fff;
    text-decoration: none;

    position: relative;

    transition: background-color .2s linear;
}

.nav__link.has-subnav {
    position: relative;
    padding-right: 35px;
}

.nav__link.has-subnav::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 53%;
    right: 13.5px;
    transform: translateY(-53%);
}

.arrow {
	display: none;
	position: absolute;
	top: 53%;
    right: 10.5px;
    transform: translateY(-53%);
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.arrow.active{
	transform: rotate(-180deg);
}

.subnav {
    display: none;
    width: 200px;
    padding: 5px 0;
    background-color: #004AF2;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
}

.subnav__link {
    display: block;
    padding: 4.5px 12px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
}

.subnav__link:hover {
    background-color: #2c31b4;
}

.nav__link:focus {
    outline: none;
}

.nav__link.active {
    background: #004AF2;
}

/* BURGER */

.burger {
    width: 30px;
    height: 23px;
    display: none;
    padding: 0;
    background: none;
    border: none;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    position: relative;
}

.burger:focus {
    outline: none;
}

.burger__line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px 0;

    background-color: #fff;

    transition: opacity .2s ease-out, transform .2s ease-out;
}

.burger__line:nth-child(1) {
    width: 20px;
    margin-left: auto;
}

.burger.active .burger__line:nth-child(odd) {
    opacity: 0;
}

.burger.active .burger__line:nth-child(even) {
    position: absolute;
    left: 0;
    top: 50%;

    transform-origin: center;
}

.burger.active .burger__line:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(4) {
    transform: rotate(-45deg);

}

/* INTRO */

.intro {
    margin-bottom: 30px;

    position: relative;
}

.intro__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #000 url('../images/slider/company.jpg') no-repeat center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro__slider-header {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro__slider-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__slider .slider-item {
    display: none;
}

.intro__slider.slick-initialized {
    background: #000;
}

.intro__slider.slick-initialized .slider-item {
    display: block;
}

.intro__slider .slick-list,
.intro__slider .slick-track {
    height: 100%;
}

.intro__slider .slick-list {
    z-index: 2;
}

.intro__slider .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 3;
}

.intro__slider .slick-dots li {
    margin: 0 8px;
}

.intro__slider .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    font-size: 0;

    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background: #dbdbdb;
    color: transparent;

    transition: all .2s linear;
}

.intro__slider .slick-dots button:focus {
    outline: none;
}

.intro__slider .slick-dots li.slick-active button {
    background: #004af2;
    box-shadow: 0 0 0 5px rgb(255 255 255 / 50%);
}


.intro__slider-photo {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;

    position: relative;
}

.intro--ship_repair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    background: url('../images/slider/ship-repair.jpg') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro--ship_repair::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .2);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

    background: url('../images/slider/company.jpg') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro--about::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro--repair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    background: url('../images/slider/izgotovlenie.jpg') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro--modernization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    background: url('../images/slider/modernization.jpg') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro--modernization::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .2);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro--maintenance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    background: url('../images/slider/obrabotka.jpg') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro--maintenance::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .2);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro--blog {
    height: 350px;

    background: url('../images/news.jpg') center no-repeat;
    background-size: cover;
}

.intro--privacy {
    height: 350px;

    background: url('../images/privacy.jpg') center no-repeat;
    background-size: cover;
}

.intro--term {
    height: 350px;

    background: url('../images/term.jpg') center no-repeat;
    background-size: cover;
}

.intro--syot {
    height: 350px;

    background: url('../images/news-intro.jpg') center no-repeat;
    background-size: cover;
}

.intro--text {
    height: 350px;

    background: url('../images/text-intro.jpg') center no-repeat;
    background-size: cover;
}

.intro__inner {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

.intro__text {
    width: 100%;
    margin-bottom: 45px;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;

    transform: translate3d(-50%, -50%, 0);
}

.intro__countries {
    font-size: 30px;
    color: #fff;

    text-align: right;
}

.intro__title {
    font-size: 110px;
    line-height: .9;
    font-weight: 700;
    color: rgba(255, 255, 255, .9);
}

.intro__title--page {
    font-size: 60px;
    line-height: .9;
    font-weight: 700;
    color: rgba(255, 255, 255, .9);
    position: relative;
    z-index: 2;
}

.intro__subtitle {
    font-size: 36px;
    line-height: .9;
    font-weight: 700;
    color: rgba(255, 255, 255, .9);
}

.intro__content {
    margin-bottom: 90px;
}

/* REQUEST-FORM */

.request-form {
    width: 100%;
    max-width: 400px;

    background-color: #004AF2;
    border-radius: 5px;
    overflow: hidden;
}

.request-form--input {
    position: relative;
    bottom: -30px;
}

.request-form--right {
    margin-left: auto;
}

.request-form__header {
    padding: 20px 30px;

    background-color: #033FC9;
}

.request-form__content {
    padding: 30px;
}

.request-form__title {
    margin-bottom: 5px;

    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.request-form__text {
    font-size: 16px;
    color: #fff;
}

/* FORM */

.form__group {
    margin-bottom: 25px;
}

.form__group--flex {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-wrapper {
    width: 20;
}

.form-wrapper--btn {
    width: 80%;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;

    background-color: transparent;
    border: none;
    border-radius: 0;
    appearance: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, .25);

    transition: border-color .1s linear;
}

.input--person {
    background: url(../images/person.svg) 15px 5px no-repeat;
}

.input--dark.input--person {
    background-image: url('../images/black-person.svg');
}

.input--phone {
    background: url(../images/phone.svg) 15px 5px no-repeat;
}

.input--dark.input--phone {
    background-image: url('../images/call.svg');
}

.input--email {
    background: url(../images/mail.svg) 15px 7px no-repeat;
}

.input--dark.input--email {
    background-image: url('../images/mail-black.svg');
}

.input--dark.input--text {
    background: url('../images/text-format.svg') 15px 4px no-repeat;
}

.input--dark {
    color: #2C2C2C;
    border-bottom: 1px solid #E8E8E8;
}

.input::placeholder {
    color: #fff;
}

.input--dark::placeholder {
    color: #2C2C2C;
}

.input:focus {
    outline: none;
    border-bottom-color: #fff;
}

.input--dark:focus {
    border-bottom-color: #000;
}

.add-post__textarea {
    height: 35px;

    background: transparent;
    resize: none;
    overflow: hidden;
}

.add-post__file {
    display: block;
    width: 48px;
    height: 48px;

    /* border-radius: 50%; */
    background: url('../images/attached-file.svg') center no-repeat;
    cursor: pointer;
}

.add-post__file input {
    display: none;
}

/* BTN */

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-align: center;

    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: transparent;
    overflow: hidden;

    position: relative;
}

.btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: #333;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.btn:focus {
    outline: none;
}

.btn:hover::before,
.btn:focus::before {
    opacity: .15;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--blue {
    background: #004AF2;
}

.btn--orange {
    background: linear-gradient(90deg, #FF903E, #FF2C2C);
}

.btn--shadow {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* SECTION */

.section {
    padding: 30px 0;
}

.section--map {
    background: url('../images/clients/map.svg') no-repeat 30px 130px;
}

.section--grey {
    background: #E5E5E5;
}

.section--contacts {
    padding: 30px 0 0;
}

.section--stat {
    position: relative;
}

.section--repair {
    padding: 30px 0 0;
}

.section--last {
    margin-bottom: 30px;
}

.section__title {
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 1.2;
    font-weight: 900;
    color: #2C2C2C;
}

.section__title span {
    color: #004AF2;
}

.section__title--stat {
    margin: 0;
}

.section__title--blog {
    padding: 0 15px;
}

/* ABOUT */

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;

    border-radius: 5px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .2);

    position: relative;
}

.about__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 25px;
    margin-bottom: 30px;

    position: relative;
    z-index: 2;
}

.about__item--content {
    justify-content: center;
}

.about__title {
    margin-bottom: 20px;
    margin-top: 20px;

    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    color: #2C2C2C;

    text-transform: uppercase;
}

.about__text {
    font-size: 16px;
    line-height: 1.4;
    color: #585858;
}

.about__text p:last-child {
    margin: 0;
}

.about__footer {
    margin-top: 30px;
}

/* PLANT */

.plant {
    width: 100%;
    background-color: #5f7dbe;
}

.plant__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    margin: 0 -15px;
}

.plant__header {
    width: 100%;
    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;
}

.plant__title {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;
}

.plant__col {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.plant__col:hover 
.plant__photo {
    transform: scale(1.05);
}

.plant__item {
    display: block;
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.plant__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.plant__photo {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);

    transition: transform 1.2s linear;
}

.plant__name {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;
    text-align: center;

    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    transform: translate3d(-50%, -50%, 0);
}

/* service */

.serv {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.serv__col {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.serv__col:hover .serv__photo {
    transform: scale(1.05);
}

.serv__item {
    display: block;
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.serv__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.serv__photo {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);

    transition: transform 1.2s linear;
}

.serv__name {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;

    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    transform: translate3d(-50%, -50%, 0);
}

/* BENEFITS */

.benefits {
    display: flex;
}

.benefits__col {
    width: 50%;
}

.benefits__col--photo {
    margin: auto 0;
}

.benefits-list {
    width: 100%;
    max-width: 370px;
    padding-left: 50px;

    background-image: linear-gradient(to bottom, #fff 40%, #A5A5A5 40%);
    background-size: 2px 30px;
    background-repeat: repeat-y;
    background-position: 12px -4px;

    position: relative;
}

.benefits-list::before,
.benefits-list:after {
    content: "";
    display: block;
    width: 26px;
    height: 36px;

    position: absolute;
    left: 0;
    z-index: 1;
}

.benefits-list::before {
    background: url('../images/greypin.svg') no-repeat;
    background-color: #fff;

    top: -5px;
}

.benefits-list::after {
    background: url('../images/greenpin.svg') no-repeat;
    background-color: #fff;

    bottom: -4px;
}

.benefits-list__item:not(:last-child) {
    margin-bottom: 25px;
}

.benefits-list__title {
    margin-bottom: 12px;

    font-size: 21px;
    line-height: 1.2;
    font-weight: 900;
    color: #2C2C2C;
}

.benefits-list__text {
    font-size: 15px;
    color: #2C2C2C;
}

/* MISSOON */

.mission-title {
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.mission {
    margin-top: -25px;
    margin-bottom: 30px;
    padding: 60px 30px;

    text-align: center;

    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.16);
    border-radius: 5px;

    position: relative;
}

.mission:before,
.mission::after {
    content: "";
    display: block;
    width: 41.6%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.mission:before {
    background-color: #004AF2;

    right: 50%;
}

.mission::after {
    background-color: #FC2C2B;

    left: 50%;
}

.mission__title {
    margin-bottom: 7px;

    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #004AF2;
}

.mission__subtitle {
    font-size: 21px;
    font-weight: 400;
    color: #585858;
}

/* CLIENTS */

.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 40px;
    margin-bottom: 40px;
}

.clients__list-logo {
    max-height: 120px;
}

/* REVIEWS */

.reviews {
    height: 200px;

    position: relative;

    background: url('../images/ajax-loader.gif') no-repeat center;
}

.reviews.slick-initialized {
    height: auto;
    background: none;
}

.reviews .slick-list {
    padding-top: 20px;
    z-index: 2;
}

.reviews .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 3;
}

.reviews .slick-dots li {
    margin: 0 8px;
}

.reviews .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    font-size: 0;

    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background: #dbdbdb;
    color: transparent;

    transition: all .2s linear;
}

.reviews .slick-dots button:focus {
    outline: none;
}

.reviews .slick-dots li.slick-active button {
    background: #004af2;
    box-shadow: 0 0 0 5px rgba(0, 74, 242, .11);
}

.reviews::before,
.reviews::after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 3;
}

.reviews::before {
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));

    left: 0;
}

.reviews::after {
    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));

    right: 0;
}

.reviews__item {
    display: none;
    padding: 0 10px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    position: relative;
    z-index: 2;
}

.reviews__header::before {
    content: "";
    display: block;
    width: 92px;
    height: 126px;

    background: url('../images/clients/lines.svg') no-repeat;

    position: absolute;
    top: -13px;
    left: 2px;
    z-index: 1;
}

.reviews__photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    position: relative;
    z-index: 2;
}

.reviews__header-content {
    flex-grow: 1;
    padding-left: 21px;
}

.reviews__name {
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}

.reviews__company {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2C2C2C;
}

.reviews__content {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: #585858;
}

.reviews__content p {
    margin-bottom: 20px;
}

.reviews__content p::first-line {
    text-indent: 20px;
}

/* CONTACTS */

.contacts {
    position: relative;
}

.contacts__inner {
    width: 100%;
    max-width: 450px;
    padding: 15px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .2);

    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 1;

    transform: translate3d(-20%, -50%, 0);
}

.contacts__title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    color: #2C2C2C;
}

.contacts__address {
    margin-bottom: 10px;

    font-size: 16px;
    font-style: normal;
    line-height: 1.4;
    color: #585858;
}

.contacts__address:last-child {
    margin-bottom: 0;
}

.contacts__address p {
    margin: 0 0 5px;
}

.contacts__address a {
    margin-left: 15px;

    color: inherit;
    text-decoration: none;
}

.contacts__address a:focus {
    outline: none;
}

.contacts__address a:hover,
.contacts__address a:focus {
    text-decoration: underline;
}

.contacts__subtitle {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #2C2C2C;
}

.contacts__frame {
    pointer-events: none;
}

.contacts__frame.pointer {
    pointer-events: all;
}

#wrapMap {
    height: 450px;
}

/* FOOTER */

.footer {
    padding: 40px 0;
    margin-top: auto;

    background: #5f7dbe;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    font-size: 14px;
    color: #fff;
}

.footer__nav-list {
    flex-grow: 1;
}

.footer__logo {
    display: block;
    max-width: 220px;
}

.footer__logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__nav-item {
    margin-bottom: 10px;
}

.footer__nav-link {
    color: inherit;
    text-decoration: none;
}

.footer__nav-link:focus {
    outline: none;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
    text-decoration: underline;
}

.footer__copyright {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    font-style: normal;
}

/* MODALS */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 40px 15px;

    overflow-y: auto;
    background-color: rgba(0, 0, 0, .9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.modal.show {
    display: block;
}

.modal__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.modal__content {
    width: 100%;
    max-width: 400px;
    padding: 25px;

    background-color: #fff;
    opacity: 0;

    position: relative;

    transform: scale(.5);

    transition: transform .2s ease-out, opacity .2s ease-out;
}

.modal__header {
    margin-bottom: 25px;

    text-align: center;
}

.modal__icon {
    margin-bottom: 10px;
}

.modal__title {
    margin-bottom: 10px;

    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    color: #004AF2;
}

.modal__text {
    font-size: 16px;
    color: #2C2C2C;
}

.modal__footer {
    margin-top: 25px;
    padding-top: 25px;

    border-top: 1px solid #E8E8E8;

    text-align: center;
}

.modal__footer-title {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}

.modal__contacts {
    font-size: 16px;
    font-weight: 400;
    color: #2C2C2C;
    font-style: normal;
}

.modal__contacts p {
    margin: 0 0 5px;
}

.modal__contacts a {
    color: inherit;
    text-decoration: none;
}

.modal__contacts a:focus {
    outline: none;
}

.modal__contacts a:hover,
.modal__contacts a:focus {
    text-decoration: underline;
}

.modal__close {
    width: 20px;
    height: 20px;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 200;

    transition: transform .2s linear;
}

.modal__close:focus {
    outline: none;
}

.modal__close:hover {
    transform: rotate(90deg);
}

.modal__close img {
    display: block;
}

/* MAIN */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.main__col {
    width: 50%;
    padding: 0 15px;
}

/* TEXT */

.text {
    width: 100%;
    max-width: 890px;
    margin-bottom: 50px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #585858;
}

text p {
    margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    margin-bottom: 20px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #2C2C2C;
}

.text h2 {
    font-size: 27px;
}

.text h3 {
    font-size: 24px;
}

.text h4 {
    font-size: 21px;
}

.text h5 {
    font-size: 18px;
}

.text h6 {
    font-size: 15px;
}

.text ul,
.text ol {
    margin-bottom: 20px;
}

.text ol {
    list-style: decimal;
    list-style-position: inside;
}

.text hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: none;
    background-color: #d1d1d1;
}

.text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text a {
    color: #004AF2;
    text-decoration: none;
}

.text a :focus {
    outline: none;
}

.text a:hover,
.text a:focus,
.text a:active,
.text a:visited {
    text-decoration: underline;
}

/* REPAIR */

.repair {
    width: 100%;
    margin-bottom: 50px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #585858;
}

.repair__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.repair__content {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    width: 50%;
    padding: 0 15px;
}

.repair__text {
    margin-left: 20px;
    line-height: 1.4;
}

.repair__photo {
    display: block;
    width: 15px;
    height: 15px;
    object-fit: cover;
}

/* CAPACITY */

.capacity__item {
    display: flex;
    flex-wrap: wrap;
}

.capacity__col {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}

.capacity__col--order {
    order: 2;
}

.capacity__col--order 
.capacity__inner {
    padding-right: 0;
    padding-left: 20px;
}

.capacity__col--photo {
    flex: 0 1 50%;
}

.capacity__col--photo1 {
    order: 0;
}

.capacity__inner {
    padding: 20px 20px 0 20px;

    font-size: 16px;
    line-height: 1.5;
    color: #585858;
}

.capacity__title {
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 700;
    color: #2c2c2c;
}

.capacity__list {
    margin: 0 -15px;
}

.capacity__content {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 15px;
}

.capacity__text {
    margin-left: 20px;
    line-height: 1.4;
}

.capacity__text--subtext {
    margin-left: 0;
    font-weight: 700;
}

.capacity__photo {
    display: block;
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.capacity__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SERTIFICATE */

.sertificate {
    display: flex;
    flex-wrap: wrap;
}

.sertificate__item {
    width: 16.66666%;
    flex-grow: 1;
    margin-bottom: 30px;

    border: 1px solid #d5dee6;
    border-radius: 5px;
    overflow: hidden;

    transition: box-shadow .2s linear, transform .2s linear;
}

.sertificate__item:hover {
    box-shadow: 6px 0px 30px rgb(0 0 0 / 20%);
    transform: scale(1.1);
}

.fresco {
    display: block;
    width: 100%;

    font-size: 16px;
    line-height: 1.4;
    color: #585858;
    text-decoration: none;
}

.sertificate__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.sertificate__text {
    max-width: 130px;
    margin: 0 auto 20px;
    text-align: center;
}

/* SYOT */

.syot__text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;
}

/* ACORDION */

.acordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.acordion__item:last-child {
    margin-bottom: 0;
}

.acordion__item.active .acordion__content {
    display: block;
}

.acordion__item.active .acordion__header {
    border-bottom: 1px solid #e5e5e5;
}

.acordion__item.active .acordion__header::after {
    transform: rotate(-45deg);
}

.acordion__header {
    padding: 15px 15px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.acordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.acordion__img {
    display: block;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;
    transform: translateY(-50%);
}

.acordion__title {
    font-size: 18px;
    font-weight: 700;
    color: #2C2C2C;
    text-transform: uppercase;
}

.acordion__subtitle {
    margin: 20px 0;

    font-size: 14px;
    font-weight: 700;
    color: #2C2C2C;
    text-align: center;
}

.acordion__content {
    padding: 20px 15px 30px;
    display: none;

    font-size: 15px;
    font-weight: 400;
    color: #585858;
    ;
}

/* TABLE */

.table {
    width: 100%;

    font-size: 15px;
    font-weight: 700;
    color: #2C2C2C;
    ;

    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

.table--big th:nth-child(odd) {
    width: 30%;
}

.table__header {
    background-color: #a6b7d9;
}

.table td,
.table th {
    padding: 10px;
    border: 1px solid #a8a8a8;
}

.table__body td {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.table__text {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
}

.table__text p {
    margin-bottom: 5px;
}

/* HISTORY */

.history {
    position: relative;
}

.history::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    margin: 0 auto;

    background-color: #5f7dbe;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.history__block {
    width: 50%;
    position: relative;
}

.history__block:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #5f7dbe;

    position: absolute;
    top: 25px;
    left: 0;
}

.history__block::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: #5f7dbe;

    position: absolute;
    top: 12.5px;
    right: -15px;
}

.history__block:nth-child(odd) {
    margin-left: auto;
}

.history__block:nth-child(odd)::after {
    left: -15px;
    right: 0;
}

.history__block:nth-child(odd) .history__block-item {
    margin-left: auto;
}

.history__block:first-child {
    margin: 0 auto 60px;
}

.history__block:last-child {
    margin: 60px auto 0;
}

.history__block:first-child::before,
.history__block:first-child::after,
.history__block:last-child::before,
.history__block:last-child::after {
    display: none;
}

.history__block-item {
    width: 100%;
    max-width: 450px;
    min-height: 330px;
    padding: 15px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .2);

    position: relative;
    z-index: 100;
}

.history__block-item--first,
.history__block-item--last {
    margin: 0 auto;
}

.history__block-photo {
    margin-bottom: 15px;
}

.history__block-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history__block-title {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 700;
    color: #004AF2;
}

.history__block-text {
    font-size: 16px;
    line-height: 1.4;
    color: #585858;
}

/* GALLARY */

.gallary {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.gallary__item {
    flex: 0 0 25%;
    flex-grow: 1;
    margin-bottom: 30px;
    padding: 0 15px;

    border-radius: 5px;
}

.gallary__img {
    display: block;
    overflow: hidden;
}

.gallary__photo {
    transition: transform .4s linear;
}

.gallary__img:hover .gallary__photo {
    transform: scale(1.2);
}

/* MEDIA Queries */

@media (max-width: 991px) {

    /* HEADER */

    .header__inner {
        height: 60px;
    }

    /* NAV */

    .nav {
        width: 100%;
        height: calc(100vh - 50px);
        flex-direction: column;
        padding-top: 9px;

        overflow: auto;
        background-color: rgba(95, 125, 190, .9);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;

        transform: translateX(100%);
        transition: transform .2s ease-out;
    }

    .nav.show {
        font-size: 25px;

        transform: translateX(0);
    }

    .nav__list {
        flex-direction: column;
        height: auto;
    }

    .nav__item {
        display: block;
        height: 100%;
    }

    .nav__item:hover .nav__link {
        background-color: transparent;
    }

    .nav__link {
        display: block;
        padding: 10px 0;

        text-align: center;
    }

    .nav__link.active {
        background: none;
    }

    .nav__link.has-subnav::after {
        display: none;
    }

    .subnav {
        background-color: transparent;
        box-shadow: none;
        text-align: center;

        position: relative;
        top: 0;
        left: 0;
    }

    .subnav__link {
        font-size: 22px;
    }

    .arrow {
        top: 25px;
        right: 10.5px;
        transform: translateY(0);

        transition: transform .2s linear;
    }

    .arrow.active {
        right: 20.5px;
    }

    .arrow-services.active {
        right: 49.5px;
    }

    /* BURGER */

    .burger {
        display: block;
    }


    /* REQUEST__FORM */

    .request-form--right {
        margin: 30px auto 0;
    }

    /* INTRO */

    .intro__slider-arrows {
        display: none;
    }

    .intro--blog,
    .intro--text {
        height: 250px;
    }

    .intro__title {
        font-size: 90px;
    }

    .intro__subtitle {
        font-size: 29px;
    }

    /* SECTION */

    .section--map {
        background-position: center top 130px;
    }

    .section__title {
        text-align: center;
    }

    /* ABOUT */

    .about__item {
        width: 100%;
    }

    /* SERV */

    .serv__col {
        width: 100%;
    }

    .serv__col:last-child {
        margin-bottom: 0;
    }

    .serv__name {
        width: 100%;

        font-size: 39px;
        text-align: center;
    }

    /* PLANT */

    .plant__inner {
        margin: 0;
    }

    .plant__col {
        width: 100%;
        padding: 0;
    }

    .plant__col:last-child {
        margin-bottom: 0;
    }

    .plant__name {
        width: 100%;

        font-size: 39px;
        text-align: center;
    }    

    /* CLIENTS */

    .clients {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .clients__logos,
    .clients__reviews {
        width: 100%;
    }

    .clients__logos {
        margin-bottom: 50px;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__list li {
        max-width: 130px;
    }

    /* FOOTER */

    .footer {
        background-size: 350px auto;
    }

    /* MAIN */

    .main__col--left {
        width: 55%;
    }

    .main__col--right {
        width: 45%;
    }

    .sertificate__item {
        width: 33.33333%;
    }

    /* HISTORY */
    
    .history__block {
        width: 100%;
        margin: 90px 0;
    }
    
    .history__block:before {
        display: none;
    }
    
    .history__block::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        margin: auto;
    
        border-radius: 50%;
        background-color: #5f7dbe;
    
        position: absolute;
        top: -60px;
        right: 0;
        left: 0;
    }
    
    .history__block:nth-child(odd) {
        margin: 0 auto;
    }
    
    .history__block:nth-child(odd)::after {
        left: 0;
        right: 0;
    }
    
    .history__block:nth-child(odd) .history__block-item {
        margin: 0 auto;
    }
    
    .history__block:first-child {
        margin: 0;
    }
    
    .history__block:last-child {
        margin: 90px 0 0;
    }

    .history__block:last-child::after {
        display: block;
    }
    
    .history__block-item {
        width: 100%;
        max-width: 500px;
        min-height: 330px;
        padding: 15px;
        margin: 0 auto;
    
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, .2);
    
        position: relative;
        z-index: 100;
    }
    
    .history__block-item--first,
    .history__block-item--last {
        margin: 0 auto;
    }

    /* GALARY */

    .gallary__item {
        flex: 0 0 50%;
    }

}

@media (max-width: 767px) {

    /* INTRO */

    .intro {
        margin-bottom: 0;
    }

    .intro__inner {
        flex-direction: column;
        align-items: center;
        height: auto;
        min-height: 100vh;
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .intro__text {
        order: 1;
        width: 100%;
        margin-bottom: 25px;

        text-align: center;
    }

    .intro__title {
        font-size: 60px;
    }

    .intro__subtitle {
        font-size: 19px;
    }

    .intro__title--page {
        font-size: 27px;
    }

    /* REQUEST */

    .request-form--input {
        order: 2;
        position: static;
    }

    /* BTN */

    .btn--width {
        width: 100%;
    }

    /* ABOUT */

    .about__main-title {
        text-align: center;
    }

    /* CAPACITY */

    .capacity__col {
        flex: 0 0 100%;
    }

    .capacity__col--order {
        order: 0;
    }

    .capacity__col--photo {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }

    .capacity__inner {
        padding: 0 0 20px 0;
    }

    .capacity__title {
        font-size: 16px;
    }

    /* SERV */

    .serv__name {
        width: 100%;

        font-size: 24px;
        text-align: center;
    }

    /* BENEFITS */

    .benefits {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    .benefits__col {
        width: 100%;
    }

    .benefits-list {
        max-width: none;
        margin-bottom: 30px;
    }

    /* MISSION */

    .mission-title {
        font-size: 70px;
    }

    .mission {
        margin-top: -16px;
        padding: 40px 20px;
    }

    .mission__title {
        font-size: 24px;
    }

    .mission__subtitle {
        font-size: 18px;
    }

    /* CONTACTS */

    .contacts__inner {
        max-width: none;
        padding: 0;
        margin-bottom: 20px;

        border-radius: 0;
        box-shadow: none;

        position: relative;
        top: 0;
        left: 0;
        z-index: 1;

        transform: translate3d(0, 0, 0);
    }

    /* FOOTER */

    .footer__nav {
        margin-bottom: 0;
    }

    .footer__nav-list {
        flex: 1 1 50%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__nav-list--big {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .footer__logo {
        margin: 0 auto;
    }

    /* MAIN */

    .main {
        flex-direction: column;
        margin: 0 -15px;
    }

    .main__col {
        width: 100%;
        padding: 0 15px;
    }

    /* REPAIR */

    .repair__content {
        width: 100%;
    }

    /* TABLE */

    .table {
        font-size: 12px;
    }

    .table__body td {
        font-size: 12px;
    }

    .table__text {
        font-size: 12px;
    }

}

@media (max-width: 575px) {

    /* REQUEST */

    .request-form--header {
        padding: 20px;
    }

    .request-form__title {
        font-size: 25px;
    }

    .request-form__content {
        padding: 20px;
    }

    /* INTRO */

    .intro__content {
        margin-bottom: 50px;
    }

    .intro__title {
        font-size: 60px;
    }

    /* SECTION */

    .section {
        padding: 15px 0;
    }

    .section--contacts {
        padding: 15px 0 0;
    }

    .section--last {
        margin-bottom: 15px;
    }

    .section__title {
        font-size: 25px;
    }

    /* ABOUT */

    .about__main-title {
        font-size: 25px;
    }

    .about__icon {
        width: 100px;
    }

    /* SERVICES */

    .services {
        padding-top: 55px;
        padding-bottom: 10px;
    }

    .services__main-title {
        width: 100%;

        font-size: 60px;
        text-align: center;

        bottom: auto;
        right: auto;
        top: 20px;
    }

    .services__item {
        width: 100%;
    }

    /* PLANT */

    .plant__name {
        width: 100%;

        font-size: 24px;
        text-align: center;
    }

    /* CLIENTS */

    .clients__list {
        margin: 0 -15px;
    }

    .clients__list li {
        width: 33.33333%;
        max-width: none;
        margin-right: 0;
        padding: 0 15px;
    }

    .clients__list-logo {
        margin: 0 auto;
    }

    .clients-love {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    /* MISSION */

    .mission-title {
        font-size: 40px;
    }

    .mission {
        margin-top: -10px;
        padding: 30px 20px;
    }

    .mission__title {
        font-size: 20px;
    }

    .mission__subtitle {
        font-size: 16px;
    }

    /* PLANT */

    .plant__inner {
        padding: 30px 0;
        margin: 0;
    }

    .plant__item {
        width: 100%;
    }

    .plant__title {
        font-size: 22px;
    }

    .plant__icon {
        width: 50px;
        height: 50px;
    }

    .plant__number {
        font-size: 35px;
    }

    /* MODAL */

    .modal__title {
        font-size: 30px;
    }

    .modal__close {
        right: 0;
        top: -30px;
    }

    /* TEXT */

    .text h2 {
        font-size: 20px;
    }

    .sertificate__item {
        width: 270px;
        border: none;
    }

    /* TABLE */

    .table {
        font-size: 9px;
    }

    .table td,
    .table th {
        padding: 5px 0;
    }

    .table__body td {
        font-size: 9px;
    }

    .table__text {
        font-size: 10px;
    }

    /* GALLARY */

    .gallary__item {
        margin-bottom: 15px;
    }
}

@media (max-width: 460px) {

    /* INTRO */

    .intro__title {
        font-size: 25px;
    }

    .intro__title--company {
        font-size: 60px;
    }

    .intro__title-amp {
        font-size: 50px;
    }
}

@media (max-width: 350px) {
    
    .footer__copyright {
        font-size: 11px;
    }
}